.grid1{
    display: grid;
    border: solid black 5px;
    margin-left: 22%;
    margin-right: 7%;
    margin-top: 12%;
    padding-top: 0%;
    padding-left: 40%;
    background-color: grey;
}
.leftside{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/5;
}

.rightside {
    height: 100%;
    margin: 0% 10%;
    border: 3px;
    border-left: solid black ;
    background: rgba(128, 0, 128, 0.14);
    padding: 2%;
}


.underleft {
    text-align: center;
}

.underright {
    text-align: center;
}